

<div class="notification is-primary">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-link">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-info">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-success">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-warning">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-danger">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


