

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>

    <link rel="stylesheet" href="../../css/alpha.css">

    <style>
      hr {
        margin: 24px 0 !important;
        color: #CCC;
      }
      .preview-section-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.85;
        border-bottom: 1px solid #CCC;
      }
    </style>

    <script type="text/javascript" src="../../js/alpha.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" rel="stylesheet">
  </head>
  <body style="background: #FFF; overflow: auto;">
    <div style="padding: 12px;">
      <span class="tag is-black">Black</span>
<span class="tag is-dark">Dark</span>
<span class="tag is-light">Light</span>
<span class="tag is-white">White</span>
<span class="tag is-primary">Primary</span>
<span class="tag is-link">Link</span>
<span class="tag is-info">Info</span>
<span class="tag is-success">Success</span>
<span class="tag is-warning">Warning</span>
<span class="tag is-danger">Danger</span>

    </div>
  </body>
</html>

