

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preview Layout</title>

    <link rel="stylesheet" href="../../base.css">

    <style>
      hr {
        margin: 24px 0 !important;
        color: #CCC;
      }
      .preview-section-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.85;
        border-bottom: 1px solid #CCC;
      }
    </style>

    <script type="text/javascript" src="../../base.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" rel="stylesheet">
  </head>
  <body style="background: #FFF; overflow: auto;">
    <div style="padding: 12px;">
      <div class="notification is-primary">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-link">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-info">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-success">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-warning">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


<div class="notification is-danger">
  
    <span><i class="fa fa-user" aria-hidden="true"></i></span>
  

  

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>


    </div>
  </body>
</html>

